<%- include partials/header.ejs %>
<h1>Hello!!</h1>
<p><%= start%></p>
<% posts.forEach(function(post){ %>
<div class="new-post">
  <h1><%=post.ptitle%></h1>
  <p><%= post.ptext%></p>

</div>
<% }) %>
<%- include partials/footer.ejs %>
